<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Justin's Personal API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Justin's Personal API</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <div class="go">
          </div>
          <!--adding quotes form-->
          <form class="form-inline" id="newQuoteForm">
            <div class="form-group">
              <label for="title">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="title">Quote</label>
              <input type="text" class="form-control" name="quote" placeholder="Quote">
            </div>
            <div class="form-group">
              <label for="title">Image</label>
              <input type="text" class="form-control" name="image" placeholder="Image Url">
            </div>
            <button type="submit" class="btn btn-default">Create quote</button>
          </form>
          <!--listing the quotes-->
          <div id='quotesTarget'>
              <script id='quotesTemplate' type="text/x-handlebars-template">
                {{#each quotes}}
                <hr>
                <p>
                  {{quote}}
                   -{{name}}
                  <image width="50" height="50" src="{{image}}" frameborder="0">
                <!--  <iframe width="200" height="200" src="{{link}}" frameborder="0"></iframe>
                    <br> -->
                    <button type="button" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}>Delete</button>
                </p>
                {{/each}}
              </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
